.sidebar {
    width: 72px;
    height: 1080px;
    background-color: #FFFFFF;
    border-right: 1px solid #2222220D;
}

.sidebar__item-frame {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 16px;
}

.sidebar__item-frame_menu {
    margin-top: 40px;
}

.sidebar__item-frame_user {
    margin-top: 23px;
}

.sidebar__item-frame_plus {
    margin-top: 23px;
}

.net-feed {
    width: 474px;
    margin-left: 100px;
    margin-top: 40px;
}

.net-feed__post {
    width: 474px;
    margin-bottom: 50px;
}

.net-feed__posting-user {
    width: 474px;
    margin-bottom: 8px;
    overflow: hidden;
}

.net-feed__user {
    float: left;
    width: auto;
}

.net-feed__avatar {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    cursor: pointer;
    float: left;
}

.net-feed__name {
    font-family: 'Golos Text', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: -0.15px;
    margin-left: 42px;
}

.net-feed__item-edit {
    float: right;
    margin-top: 8px;
    cursor: pointer;
}

.net-feed__posted-photo {
    width: 474px;
    height: 474px;
    display: block;
}

.net-feed__item_active {
    width: 20px;
    height: 20px;
    margin-top: -240px;
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
}

.net-feed__item_unactive {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
    display: inline-block;
}

.net-feed__item-num-page {
    margin-top: -440px;
    margin-left: 350px;
    display: inline-block;
}

.net-feed__count-reaction {
    width: 68px;
    height: 30px;
    background-color: #2222220D;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
    overflow: hidden;
}

.net-feed__reaction {
    width: 16px;
    height: 16px;
    float: left;
    margin: 7px 0 0 8px;
}

.net-feed__count {
    font-family: 'Golos Text', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: -0.15px;
    margin-left: 30px;
}

.net-feed__user-text {
    width: 474px;
    font-family: 'Golos Text', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    margin-top: 8px;
    margin-bottom: 0;
}

.net-feed__more {
    font-family: 'Golos Text', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #808080;
    cursor: pointer;
    margin-top: 2px;
    margin-bottom: 0;
    display: inline-block;
}

.net-feed__time {
    font-family: 'Golos Text', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #22222280;
    margin-top: 5px;
    margin-bottom: 0;
}