.user__image {
    width: 462px;
    height: 501px;
    margin-top: 289px;
    margin-left: 269px;
}

.auth__icon {
    width: 22px;
    display: flex;
    margin-left: 310px;
    cursor: pointer;
}

.auth__icon_eye {
    height: 16px;
    margin-top: -31px;
}

.auth__icon_slash {
    height: 22px;
    margin-top: -19px;
}

.auth {
    width: 343px;
    height: 251px;
    margin-top: -375px;
    margin-left: 838px;
    margin-bottom: 32px;
    gap: 32px;
}

.auth__button {
    background-color: #222222;
    color: #FFFFFF;
    width: 343px;
    height: 48px;
    border-radius: 10px;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 25px;
    cursor: pointer;
}

.auth__button-text {
    font-family: 'Golos Text', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    width: 93px;
    height: 19px;
}

.auth__fields {
    width: 343px;
    height: 171px;
    gap: 16px;  
}

.auth__field {
    width: 343px;
    height: 88px;
    gap: 5px;
    margin-bottom: 10px;
}

.auth__label {
    width: 343px;
    height: 18px;
    font-family: 'Golos Text', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #222222;
    margin: 0;
    padding: 0;
}

.auth__input {
    width: 343px;
    min-height: 44px;
    border-radius: 10px;
    background-color: #F2F3F5;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
    font-size: 15px;
    color: #222222;
}

.auth__input_email {
    padding: 13px 12px;
}

.auth__input_password {
    padding: 10px 12px;
}

.auth__hint {
    width: 343px;
    height: 16px;
    font-family: 'Golos Text', sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.08px;
    color: #808080;
    margin: 0;
    padding: 0;
}

.page__title {
    width: 385px;
    height: 180px;
    margin-top: -520px;
    margin-left: 179px;
    font-family: 'Golos Text', sans-serif;
    font-weight: 700;
    font-size: 140px;
    line-height: 180px;
    letter-spacing: -1.5px;
    color: #222222;
}

body {
    height: 1000px;
}