.image1 {
    width: 462px;
    height: 501px;
    margin-top: 289px;
    margin-left: 269px;
}
.image2 {
    width: 22px;
    height: 16px;
    margin-top: -31px;
    margin-left: 310px;
    display: flex;
}
.image3 {
    width: 22px;
    height: 22px;
    margin-top: -19px;
    margin-left: 310px;
    display: flex;
}
.blockautorization {
    width: 343px;
    height: 251px;
    margin-top: -375px;
    margin-left: 838px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

button {
    background-color: #222222;
    color: #FFFFFF;
    width: 343px;
    height: 48px;
    border-radius: 10px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;

}
.textinbutton {
    font-family: 'Golos Text';
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 93px;
    height: 19px;
}

.loginandpassword {
    width: 343px;
    height: 171px;
    display: flex;
    flex-direction: column;
    gap: 16px;  
}
.login {
    width: 343px;
    height: 88px;
    gap: 5px;
}

.password {
    width: 343px;
    height: 67px;
    gap: 5px;
}

lable {
    width: 343px;
    height: 18px;
    font-family: 'Golos Text';
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #222222;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input-field1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 343px;
    min-height: 44px;
    height: auto;
    border-radius: 10px;
    padding: 13px 12px;
    background-color: #F2F3F5;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
    font-size: 15px;
    color: #222222;
}

.input-field2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 343px;
    min-height: 44px;
    height: auto;
    border-radius: 10px;
    padding: 10px 12px;
    background-color: #F2F3F5;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Golos Text', sans-serif;
    font-size: 15px;
    color: #222222;
}

.presc {
    width: 343px;
    height: 16px;
    font-family: 'Golos Text';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.08px;
    color: #808080;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.enter {
    width: 385px;
    height: 180px;
    margin-top: -520px;
    margin-left: 179px;
    font-family: 'Golos Text';
    font-weight: 700;
    font-size: 140px;
    line-height: 180px;
    letter-spacing: -1.5px;
    color: #222222;
    box-sizing: border-box;
}

body {
    height: 1000px;
}