* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Golos Text', sans-serif;
    display: flex;
}

.welcome {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 200px;
}

.welcome__user-image {
    width: 462px;
    height: 501px;
}

.welcome__title {
    font-weight: 700;
    font-size: 140px;
    line-height: 180px;
    letter-spacing: -1.5px;
    color: #222222;
    margin: 0 240px 535px 0;
    position: absolute;
}

.auth {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
}

.auth__fields {
    width: 343px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 0 32px 0;
}

.auth__field {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
}

.auth__label {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #222222;
    margin: 0;
    padding: 0;
}

.auth__password-wrapper {
    position: relative;
}

.auth__input {
    width: 100%;
    min-height: 44px;
    border-radius: 10px;
    background-color: #F2F3F5;
    border: none;
    font-family: 'Golos Text', sans-serif;
    font-size: 15px;
    color: #222222;
    padding: 13px 12px;
}

.auth__input-email {
    padding: 13px 12px;
}

.auth__input-password {
    padding: 13px 45px 13px 12px;
}

.auth__vision {
    position: absolute;
    right: 12px;
    top: 50%;
    margin: -11px 0 0 0;
    cursor: pointer;
}

.auth__icon {
    width: 22px;
    display: block;
}

.auth__icon-eye {
    height: 16px;
}

.auth__icon-slash {
    height: 22px;
    margin: -19px 0 0 0;
}

.auth__hint {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.08px;
    color: #808080;
    margin: 0;
    padding: 0;
}

.auth__button {
    width: 343px;
    height: 48px;
    background-color: #222222;
    border-radius: 10px;
    padding: 0 16px;
    cursor: pointer;
    border: none;
}

.auth__button-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: #FFFFFF;
}